<div class="panel panel-default">
    <div class="panel-heading"><span class="lead">Computadoras</span></div>
    <div class="tablecontainer">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Precio</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="inscrito in angular.inscritos">
                <!--<td>{{inscrito.nombre}}</td>
                <td>{{inscrito.apellido}}</td>-->
                <!--<td><a ui-sref="main.java.detail({id: inscrito.id})">Editar</a></td>-->
                <td>{{inscrito.marca}}</td>
                <td>{{inscrito.modelo}}</td>
                <td>{{inscrito.precio}}</td>
                <td><a href="" ng-click="angular.goDetails(inscrito.id)">Editar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div ui-view></div>
