<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
    <div class="row">
     <form name="userForm" novalidate>
      <div class="form-group col-md-6" ng-class="{ 'has-error': userForm.name.$invalid }" >
        <label class="control-label">Name</label>
        <input type="text" class="form-control" name="userNombre Usuario" ng-model="user" required placeholder="Nombre Usuario" />
      </div>
      <div class="form-group col-md-6" ng-class="{ 'has-error': userForm.name.$invalid }" >
        <label class="control-label">Contraseña</label>
        <input type="text" class="form-control" name="pass" ng-model="pass" required placeholder="Password" />
      </div>
      <button class="btn btn-primary" ng-click="ingresar()">Ingresar</button>
      <button class="btn btn-link" ng-click="reset()">Reset</button>
     </form> 
    </div> 
       <!-- <div class="col-lg-12">
            <h1 class="page-header">Lista de inscritos por Curso</h1>
            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6"
                ng-repeat="curso in main.cursos">
                <li><a ui-sref="{{curso.state}}">{{curso.name}}</a></li>
            </ul>
        </div> 
    </div>-->
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
