<div class="container">
	<div class="row">
		<div class="container">
		   <div class="col-lg-12">
			<h1 class="page-header"><center>Lista de inscritos por Curso</center></h1>
			<br><br><br><br><br><br>
			
			<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6"
			ng-repeat="producto in vista.productos">
			<li><center><a ui-sref="{{producto.state}}">{{producto.name}}</a></center></li>
		</ul>
		
	</div> 
</div>
<div ui-view></div>
</div>
</div>
</div>